.LumButton {
  color: var(--lum-color-white);
  outline: none;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;

  &:disabled {
    cursor: initial;
  }

  // sizes
  &.large {
    height: 60px;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 700;
  }
  &.medium {
    height: 48px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 700;
  }
  &.small {
    height: 40px;
    padding: 0 16px;
    font-size: 11px;
    font-weight: 700;
  }
  &.xsmall {
    height: 32px;
    padding: 0 12px;
    font-size: 10px;
    font-weight: 700;
  }
  &.micro {
    height: 24px;
    padding: 0 8px;
    font-size: 10px;
    font-weight: 700;
  }
  &.xmicro {
    height: 20px;
    padding: 0 4px;
    font-size: 10px;
    font-weight: 700;
  }
  &.sxmicro {
    height: 16px;
    padding: 0 4px;
    font-size: 9px;
    font-weight: 700;
  }

  // shapes
  &.rounded {
    border-radius: 32px;

    &.large {
      padding: 0 24px;
    }
    &.medium {
      padding: 0 20px;
    }
    &.small {
      padding: 0 16px;
    }
    &.xsmall {
      padding: 0 12px;
    }
    &.micro {
      padding: 0 8px;
    }
    &.xmicro {
      padding: 0 4px;
    }
    &.sxmicro {
      padding: 0 4px;
    }
  }
  &.rectangle {
    border-radius: 16px;

    &.large {
      padding: 0 16px;
    }
    &.medium {
      border-radius: 12px;
      padding: 0 12px;
    }
    &.small {
      border-radius: 8px;
      padding: 0 12px;
    }
    &.xsmall {
      border-radius: 8px;
      padding: 0 8px;
    }
    &.micro {
      border-radius: 6px;
      padding: 0 4px;
    }
    &.xmicro {
      border-radius: 6px;
      padding: 0 4px;
    }
    &.sxmicro {
      border-radius: 4px;
      padding: 0 4px;
    }
  }

  // colors
  &.blue {
    background-color: var(--lum-color-primary-blue-600);
    border-color: var(--lum-color-primary-blue-700);

    &:hover {
      background-color: var(--lum-color-primary-blue-500);
      border-color: var(--lum-color-primary-blue-600);
    }
    &:active {
      background-color: var(--lum-color-primary-blue-700);
      border-color: var(--lum-color-primary-blue-800);
    }
    &:focus-visible {
      background-color: var(--lum-color-primary-blue-600);
      border-color: var(--lum-color-primary-blue-900);
    }
    &:disabled {
      background-color: var(--lum-color-primary-blue-alpha-20);
      border: none;
    }
  }
  &.pink {
    background-color: var(--lum-color-primary-pink-600);
    border-color: var(--lum-color-primary-pink-700);

    &:hover {
      background-color: var(--lum-color-primary-pink-500);
      border-color: var(--lum-color-primary-pink-600);
    }
    &:active {
      background-color: var(--lum-color-primary-pink-700);
      border-color: var(--lum-color-primary-pink-800);
    }
    &:focus-visible {
      background-color: var(--lum-color-primary-pink-600);
      border-color: var(--lum-color-primary-pink-900);
    }
    &:disabled {
      background-color: var(--lum-color-primary-pink-alpha-20);
      border: none;
    }
  }
  &.indigo {
    background-color: var(--lum-color-primary-indigo-600);
    border-color: var(--lum-color-primary-indigo-700);

    &:hover {
      background-color: var(--lum-color-primary-indigo-500);
      border-color: var(--lum-color-primary-indigo-600);
    }
    &:active {
      background-color: var(--lum-color-primary-indigo-700);
      border-color: var(--lum-color-primary-indigo-800);
    }
    &:focus-visible {
      background-color: var(--lum-color-primary-indigo-600);
      border-color: var(--lum-color-primary-indigo-900);
    }
    &:disabled {
      background-color: var(--lum-color-primary-indigo-alpha-20);
      border: none;
    }
  }
  &.emerald {
    background-color: var(--lum-color-primary-emerald-600);
    border-color: var(--lum-color-primary-emerald-700);

    &:hover {
      background-color: var(--lum-color-primary-emerald-500);
      border-color: var(--lum-color-primary-emerald-600);
    }
    &:active {
      background-color: var(--lum-color-primary-emerald-700);
      border-color: var(--lum-color-primary-emerald-800);
    }
    &:focus-visible {
      background-color: var(--lum-color-primary-emerald-600);
      border-color: var(--lum-color-primary-emerald-900);
    }
    &:disabled {
      background-color: var(--lum-color-primary-emerald-alpha-20);
      border: none;
    }
  }
}
