:root {
  --lum-color-primary-blue-950: #172554;
  --lum-color-primary-blue-900: #1e3a8a;
  --lum-color-primary-blue-800: #1e40af;
  --lum-color-primary-blue-700: #1d4ed8;
  --lum-color-primary-blue-600: #2563eb;
  --lum-color-primary-blue-500: #3B82F6;
  --lum-color-primary-blue-400: #60a5fa;
  --lum-color-primary-blue-300: #93c5fd;
  --lum-color-primary-blue-200: #bfdbfe;
  --lum-color-primary-blue-100: #dbeafe;
  --lum-color-primary-blue-50: #eff6ff;
  --lum-color-primary-blue-alpha-90: rgba(37, 99, 235, 0.9);
  --lum-color-primary-blue-alpha-80: rgba(37, 99, 235, 0.8);
  --lum-color-primary-blue-alpha-70: rgba(37, 99, 235, 0.7);
  --lum-color-primary-blue-alpha-60: rgba(37, 99, 235, 0.6);
  --lum-color-primary-blue-alpha-50: rgba(37, 99, 235, 0.5);
  --lum-color-primary-blue-alpha-40: rgba(37, 99, 235, 0.4);
  --lum-color-primary-blue-alpha-30: rgba(37, 99, 235, 0.3);
  --lum-color-primary-blue-alpha-25: rgba(37, 99, 235, 0.25);
  --lum-color-primary-blue-alpha-20: rgba(37, 99, 235, 0.2);
  --lum-color-primary-blue-alpha-15: rgba(37, 99, 235, 0.15);
  --lum-color-primary-blue-alpha-10: rgba(37, 99, 235, 0.1);
  --lum-color-primary-blue-alpha-5: rgba(37, 99, 235, 0.05);

  --lum-color-primary-pink-950: #500724;
  --lum-color-primary-pink-900: #831843;
  --lum-color-primary-pink-800: #9d174d;
  --lum-color-primary-pink-700: #be185d;
  --lum-color-primary-pink-600: #db2777;
  --lum-color-primary-pink-500: #db2777;
  --lum-color-primary-pink-400: #f472b6;
  --lum-color-primary-pink-300: #f9a8d4;
  --lum-color-primary-pink-200: #fbcfe8;
  --lum-color-primary-pink-100: #fce7f3;
  --lum-color-primary-pink-50: #fdf2f8;
  --lum-color-primary-pink-alpha-90: rgba(219, 39, 119, 0.9);
  --lum-color-primary-pink-alpha-80: rgba(219, 39, 119, 0.8);
  --lum-color-primary-pink-alpha-70: rgba(219, 39, 119, 0.7);
  --lum-color-primary-pink-alpha-60: rgba(219, 39, 119, 0.6);
  --lum-color-primary-pink-alpha-50: rgba(219, 39, 119, 0.5);
  --lum-color-primary-pink-alpha-40: rgba(219, 39, 119, 0.4);
  --lum-color-primary-pink-alpha-30: rgba(219, 39, 119, 0.3);
  --lum-color-primary-pink-alpha-25: rgba(219, 39, 119, 0.25);
  --lum-color-primary-pink-alpha-20: rgba(219, 39, 119, 0.2);
  --lum-color-primary-pink-alpha-15: rgba(219, 39, 119, 0.15);
  --lum-color-primary-pink-alpha-10: rgba(219, 39, 119, 0.1);
  --lum-color-primary-pink-alpha-5: rgba(219, 39, 119, 0.05);

  --lum-color-primary-indigo-950: #16143d;
  --lum-color-primary-indigo-900: #16143d;
  --lum-color-primary-indigo-800: #3730a3;
  --lum-color-primary-indigo-700: #3730a3;
  --lum-color-primary-indigo-600: #4f46e5;
  --lum-color-primary-indigo-500: #4f46e5;
  --lum-color-primary-indigo-400: #818cf8;
  --lum-color-primary-indigo-300: #a5b4fc;
  --lum-color-primary-indigo-200: #c7d2fe;
  --lum-color-primary-indigo-100: #e0e7ff;
  --lum-color-primary-indigo-50: #eef2ff;
  --lum-color-primary-indigo-alpha-90: rgba(79, 70, 229, 0.9);
  --lum-color-primary-indigo-alpha-80: rgba(79, 70, 229, 0.8);
  --lum-color-primary-indigo-alpha-70: rgba(79, 70, 229, 0.7);
  --lum-color-primary-indigo-alpha-60: rgba(79, 70, 229, 0.6);
  --lum-color-primary-indigo-alpha-50: rgba(79, 70, 229, 0.5);
  --lum-color-primary-indigo-alpha-40: rgba(79, 70, 229, 0.4);
  --lum-color-primary-indigo-alpha-30: rgba(79, 70, 229, 0.3);
  --lum-color-primary-indigo-alpha-25: rgba(79, 70, 229, 0.25);
  --lum-color-primary-indigo-alpha-20: rgba(79, 70, 229, 0.2);
  --lum-color-primary-indigo-alpha-15: rgba(79, 70, 229, 0.15);
  --lum-color-primary-indigo-alpha-10: rgba(79, 70, 229, 0.1);
  --lum-color-primary-indigo-alpha-5: rgba(79, 70, 229, 0.05);

  --lum-color-primary-emerald-950: #022c22;
  --lum-color-primary-emerald-900: #064e3b;
  --lum-color-primary-emerald-800: #065f46;
  --lum-color-primary-emerald-700: #047857;
  --lum-color-primary-emerald-600: #059669;
  --lum-color-primary-emerald-500: #059669;
  --lum-color-primary-emerald-400: #34d399;
  --lum-color-primary-emerald-300: #6ee7b7;
  --lum-color-primary-emerald-200: #a7f3d0;
  --lum-color-primary-emerald-100: #d1fae5;
  --lum-color-primary-emerald-50: #ecfdf5;
  --lum-color-primary-emerald-alpha-90: rgba(5,150,105, 0.9);
  --lum-color-primary-emerald-alpha-80: rgba(5,150,105, 0.8);
  --lum-color-primary-emerald-alpha-70: rgba(5,150,105, 0.7);
  --lum-color-primary-emerald-alpha-60: rgba(5,150,105, 0.6);
  --lum-color-primary-emerald-alpha-50: rgba(5,150,105, 0.5);
  --lum-color-primary-emerald-alpha-40: rgba(5,150,105, 0.4);
  --lum-color-primary-emerald-alpha-30: rgba(5,150,105, 0.3);
  --lum-color-primary-emerald-alpha-25: rgba(5,150,105, 0.25);
  --lum-color-primary-emerald-alpha-20: rgba(5,150,105, 0.2);
  --lum-color-primary-emerald-alpha-15: rgba(5,150,105, 0.15);
  --lum-color-primary-emerald-alpha-10: rgba(5,150,105, 0.1);
  --lum-color-primary-emerald-alpha-5: rgba(5,150,105, 0.05);
}
