@font-face {
  font-family: "IRANYekanXVF";
  src: url("../assets/fonts/IRANYekanX/IRANYekanXVF.woff");
}
@font-face {
  font-family: "IRANYekanXVF";
  src: url("../assets/fonts/IRANYekanX/IRANYekanXVF.woff2");
}
